@import 'resets', 'variables';

@function weight($weight-name) {
	@return map-get($font-weights , $weight-name );
}

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin theme($light-theme: true) {
	@if $light-theme {
		background: lighten($primary-color, 65%);
		color: darken($text-color, 15%);
	}
}

@mixin mobile {
	@media (max-width: $mobile) {
		@content;
	}
}

body {
	background-color: $primary-color;
	color: $text-color;
}

.logo {
	width: 80%;
	@include flexCenter(row);
	margin: 15px auto;
	background-color: lightpink;
	padding: 15px;
	border-radius: 8px;

	img {
		height: 100px;
	}

	#{&}__paragraph {
		font-weight: weight(bold);

		&:hover {
			color: gainsboro;
		}
	}

	#{&}__paragraph1 {
		@extend .logo__paragraph;

		&:hover {
			color: $accent-color;
		}
	}

	@include mobile {
		flex-direction: column;
	}
}

.light {
	@include theme($light-theme: true);
}
